# pandas 
is an open source, BSD-licensed library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language.

https://pandas.pydata.org/docs/user_guide/10min.html#min

In [1]:
import numpy as np
import pandas as pd
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [2]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [3]:
dates = pd.date_range('20130101', periods=6)

In [4]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [5]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

In [7]:
df

                   A         B         C         D
2013-01-01 -1.240839 -1.100048  0.691452 -0.511281
2013-01-02 -0.463016  1.373487  1.696720  1.444718
2013-01-03 -1.062233  0.517621  0.282948  0.436427
2013-01-04 -0.644011  1.227131  0.297104 -3.095202
2013-01-05  0.510828  0.118475  1.927851 -0.130628
2013-01-06  0.634733 -0.313463 -0.718158 -1.543656

In [8]:
df2.dtypes

NameError: name 'df2' is not defined

In [9]:
df2 = pd.DataFrame({'A': 1.,
   'B': pd.Timestamp('20130102'),
'C': pd.Series(1, index=list(range(4)), dtype='float32'),
  'D': np.array([3] * 4, dtype='int32'),
  'E': pd.Categorical(["test", "train", "test", "train"]),
'F': 'foo'})

In [10]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [11]:
df2.<TAB>

SyntaxError: invalid syntax (<ipython-input-11-84a233f3358d>, line 1)

In [12]:
df.head()

                   A         B         C         D
2013-01-01 -1.240839 -1.100048  0.691452 -0.511281
2013-01-02 -0.463016  1.373487  1.696720  1.444718
2013-01-03 -1.062233  0.517621  0.282948  0.436427
2013-01-04 -0.644011  1.227131  0.297104 -3.095202
2013-01-05  0.510828  0.118475  1.927851 -0.130628

In [13]:
df.tail(3)

                   A         B         C         D
2013-01-04 -0.644011  1.227131  0.297104 -3.095202
2013-01-05  0.510828  0.118475  1.927851 -0.130628
2013-01-06  0.634733 -0.313463 -0.718158 -1.543656

In [14]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')